.document_bg {
  background: var(--bg-primary);
}
.text-primay_globle {
  color: var(--text-primary);
}

.commission_boxs {
  border: 1px solid #a5b4fc;
  border-radius: 20px;
  background: var(--bg-box) !important;
}
.input_style {
  background: var(--copy-bg);
  border: 1px solid #a5b4fc;
  color: #a5b4fc;
  border-radius: 50px;
}
.input_style:focus {
  background: var(--copy-bg);
  color: #a5b4fc;
  border: 1px solid #a5b4fc;
  border-radius: 50px;
}

.form-control {
  background: var(--copy-bg);
  border: none;
  outline: none;
  color: #a5b4fc;
}
.form-control:focus,
.form-control:active {
  background: none;
  border: none;
  outline: none;
  color: #a5b4fc;
}
.form-control::placeholder {
  color: #a5b4fc;
  font-size: 1rem;
}
.Withdraw_com_button {
  border: none;
  border-radius: 50px;
  border: 2px solid #211eea;
  background-color: #211eea;
  color: #ffffff;
}

.Withdraw_com_button:hover,
.Withdraw_com_button:active {
  border: none;
  border-radius: 50px;
  border: 2px solid #211eea;
  color: var(--text-primary);
}
/* .img_z_index {
  z-index: -1;
} */
.sec_z_index {
  z-index: 12;
}
